.form-container {
    background:white;
    width:350px;
    margin:40px auto;
    padding:25px;
    border-radius:8px;
}

form {
    display:flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding:8px;
    margin-top:5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    border:none;
    color:white;
    cursor:pointer;
}

button:hover {
    background: #555;
}