.header{
    background: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header nav a {
    color:white;
    margin-left:15px;
    text-decoration:none;
}

.header nav a:hover {
    text-decoration:underline;
}